html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-font: "Nunito Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --white: #ffffff;
  --white-secondary: #ffffff33;
  --white-third: #ffffff29;
  --black: #000000;
  --black-light: #28272c;
  --gray-light: #00000066;
  --gray-light-secondary: #00000040;
  --gray-light-third: #d1d1d1;
  --gray: #6a6a6a;
  --gray-medium: #b2b2b2;
  --red: #ff0000;
  --pink: #ff00004d;
}

.red-button {
  height: 66px;
  width: 220px;
  background: var(--red) 0% 0% no-repeat padding-box;
  color: var(--white);
  font-size: 17px;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 3px 6px var(--pink);
}

.white-button {
  height: 66px;
  width: 220px;
  background: var(--white) 0% 0% no-repeat padding-box;
  color: var(--red);
  font-size: 17px;
  border-radius: 40px;
  border: none;
}

.article-btn {
  padding: 11px 29px;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0px 3px 6px var(--pink);
  display: inline-block;
  text-decoration: none;
  border-radius: 40px;
}

body {
  font-family: var(--primary-font);
  position: relative;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

header {
  height: 90px;
  width: 100%;
  background: var(--gray-light) 0% 0%;
  border: 2px solid var(--white-secondary);
  position: absolute;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  height: 35px;
  width: 31px;
  background: transparent url(../images/Icon.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
}

.navigation {
  height: 100%;
  z-index: 2;
}

.navigation-list {
  height: 100%;
  display: flex;
}

.navigation-list li {
  padding: 22px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}

.navigation-list li:hover {
  background-color: var(--white-secondary);
}

.text {
  color: var(--red);
  letter-spacing: 0;
  font-weight: bold;
  font-size: 35px;
  margin-left: 10px;
}

.text span {
  color: var(--white);
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  background-image: url(../images/Image.jpg);
  background-size: cover;
  background-position: center;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95vh;
  background-color: var(--black);
  opacity: 0.5;
  z-index: 1;
}

.banner-title {
  text-align: center;
  font-size: 90px;
  color: var(--white);
  text-shadow: 0px 3px 6px var(--gray-light-secondary);
  font-weight: 900;
  z-index: 2;
}

.banner-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  margin: 22px;
  z-index: 2;
}

.buttons .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.red-button {
  margin-right: 12.5px;
}

.white-button {
  margin-left: 12.5px;
}

.circle {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: var(--red);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 6px var(--pink);
  opacity: 1;
  z-index: 2;
}

.circle img {
  background: url("img/Icon Arrow Down.png");
  background-size: contain;
  opacity: 1;
  z-index: 2;
}

.blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.blog-title::before,
.blog-title::after {
  content: "";
  display: block;
  height: 3px;
  max-width: 50px;
  background: var(--red);
  flex-grow: 1;
}

.blog-title strong {
  color: var(--black);
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  padding: 10px;
}

.article {
  text-align: left;
  margin-top: 36px;
  margin-left: 16px;
}

.article img {
  height: 234px;
  width: 352px;
}

.page-content .container {
  display: flex;
  justify-content: space-between;
}

.article-title {
  text-transform: uppercase;
  font-size: 19px;
  margin: 25px auto;
  color: var(--gray);
}
.article-text {
  color: var(--gray);
  margin-bottom: 14px;
}

.article-btn {
    margin-bottom: 120px;
}

.service {
    background-color: var(--black-light);
}

.service-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title::before,
.service-title::after {
  content: "";
  display: block;
  height: 3px;
  max-width: 50px;
  background: var(--red);
  flex-grow: 1;
}

.service-title strong {
  color: var(--white);
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  padding: 10px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.service .article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article2 img {
    height: 170px;
    width: 170px;
}

.article-title2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 19px;
  margin: 25px auto;
  color: var(--white);
}

.article-text2 {
  color: var(--gray-medium);
  text-align: center;
  font-size: 14px;
  margin-bottom: 14px;
}

.article .article-btn {
    display: flex;
    justify-content: center;
}

